In [1]:
import pandas as pd 
import numpy as np

In [5]:
data = pd.DataFrame(
    {
        "key1":["a","b","b",None,"a","a",None],
        "key2":[1,2,1,None,2,1,1],
        "data1":pd.Series(np.random.standard_normal(7)),
        "data2":pd.Series(np.random.standard_normal(7)),
    }
)
data

   key1  key2     data1     data2
0     a   1.0  0.634797 -0.860963
1     b   2.0 -0.971910  0.690519
2     b   1.0 -1.361447 -0.906892
3  None   NaN  1.193253 -0.300377
4     a   2.0 -0.169216 -0.400849
5     a   1.0 -1.573587 -0.513147
6  None   1.0  0.557614  1.045450

In [12]:
(data['data1'][0]+data['data1'][4]+data['data1'][5])/3

-0.3693354417117953

In [18]:
# Grouped Data 
data['data1'].groupby(data['key1']).mean()

key1
a   -0.369335
b   -1.166679
Name: data1, dtype: float64

In [22]:
data['data1'].groupby([data['key1'],data['key2']]).mean().unstack()

key2       1.0       2.0
key1
a    -0.469395 -0.169216
b    -1.361447 -0.971910

In [30]:
data.groupby(['key1','key2'],dropna=False).size().unstack() # size parameter will not exclude the None values

key2  1.0  2.0  NaN
key1
a     2.0  1.0  NaN
b     1.0  1.0  NaN
NaN   1.0  NaN  1.0

In [31]:
# grouo by key1 
data.groupby(['key1']).count() # count exlude the none value

      key2  data1  data2
key1
a        3      3      3
b        2      2      2

In [32]:
# iterating over groups 
for name, group in data.groupby("key1"):
    print(name)
    print(group)

a
  key1  key2     data1     data2
0    a   1.0  0.634797 -0.860963
4    a   2.0 -0.169216 -0.400849
5    a   1.0 -1.573587 -0.513147
b
  key1  key2     data1     data2
1    b   2.0 -0.971910  0.690519
2    b   1.0 -1.361447 -0.906892